body {
  font-family: Arial;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background: #8B0000;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px;
  background: #f4f4f4;
}